<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>Home</title>
</head>
<body>
    {{>navbar}}
    <h1 style="text-align: center; margin-top:16%;" >Welcome Buddy</h1>
    
</body>
</html>