<div class="full-page">
<nav>
	<div class="nav-center">
		<!-- nav header -->
		<div class="nav-header">
			<img src="img/logo.png" class="logo" alt="logo" />
			<button class="nav-toggle">
    			<i class="fas fa-bars"></i>
			</button>
		</div>
		<!-- links -->
		<ul class="links">
			<li>
				<a href="/home">Home</a>
			</li>
			<li>
				<a href="/createjob">Create Job</a>
			</li>
			<li>
				<a href="/updatedelete">Update/Delete</a>
			</li>
			<li>
				<a href="/viewjob">View</a>
			</li>
			<li>
				<a href="/logout">Logout</a>
			</li>
		</ul>
		<!-- social media -->
	</div>
</nav>